In [1]:
import os
import zipfile
import pandas as pd

In [2]:
root_dir='/Users/adantonison/workspace/repos/cca_498_final_project/raw_data/local-dev/'
questions_path= os.path.join(root_dir, 'Questions_New.csv')
answers_path= os.path.join(root_dir, 'Answers_New.csv')
tags_path= os.path.join(root_dir, 'Tags.csv')

In [3]:
answers_df = pd.read_csv(answers_path, encoding='latin1')
questions_df = pd.read_csv(questions_path, encoding='latin1')
tags_df = pd.read_csv(tags_path, encoding='latin1')

In [20]:
questions_df[['OwnerUserId']].apply(pd.to_numeric)

      OwnerUserId
0       2556416.0
1        161085.0
2       3769629.0
3       2474015.0
4        891306.0
5       1427681.0
6       2877133.0
7       6850989.0
8       5178206.0
9       3873115.0
10      1574586.0
11      5516874.0
12      5211377.0
13      2757442.0
14      1163357.0
15      5985209.0
16      2052889.0
17        54964.0
18      1353274.0
19       858033.0
20       101823.0
21      4947015.0
22      1374310.0
23       147904.0
24      3694052.0
25       396292.0
26      3464212.0
27      2552641.0
28      6818842.0
29       492169.0
...           ...
9970     672387.0
9971    3774597.0
9972     801913.0
9973    1754089.0
9974    5728992.0
9975    2415455.0
9976    1277360.0
9977    2954547.0
9978    6943521.0
9979     783291.0
9980    1732769.0
9981    1330633.0
9982    5439267.0
9983    1781626.0
9984    5571336.0
9985     265629.0
9986     499363.0
9987     271063.0
9988    6092285.0
9989    5892566.0
9990    3312761.0
9991      80479.0
9992    3497377.0
9993     404715.0
9994    3038808.0
9995     774166.0
9996    1339330.0
9997    1078871.0
9998    2045579.0
9999    5408041.0

[10000 rows x 1 columns]

In [19]:
questions_df.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,17532666,2556416.0,2013-07-08T17:33:15Z,0,Migrating to Twitter API version 1.1 (?) [dupl...,<p>I am quite new to Twitter API. I have updat...
1,10540999,161085.0,2012-05-10T19:37:09Z,4,How to configure a Clojure library at runtime?,"<p>As a Clojure learning exercise, I am portin..."
2,34126234,3769629.0,2015-12-07T04:02:48Z,0,Handling JSON file with python,<p>I'm developing a plugin for sublime text an...
3,23721800,2474015.0,2014-05-18T12:19:40Z,0,Getting a MemoryError because list/array is to...,<h2>Problem</h2> <p>I have to download <code>...
4,10126239,891306.0,2012-04-12T14:59:27Z,3,Reading output with telnetlib in realtime,<p>I'm using Python's telnetlib to telnet to s...

In [8]:
len(questions_df['Id'])

10000

In [9]:
len(questions_df['Id'].unique())

10000

In [10]:
len(answers_df['Id'])

16222

In [11]:
len(answers_df['Id'].unique())

16222

In [27]:
len(tags_df['Id'])

1885078

In [28]:
len(tags_df['Id'].unique())

607283

### Questions Sample

In [31]:
sampled_questions_df = questions_df.sample(n=10000, random_state=50)

In [85]:
sampled_questions_df.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
186334,17532666,2556416.0,2013-07-08T17:33:15Z,0,Migrating to Twitter API version 1.1 (?) [dupl...,<p>I am quite new to Twitter API. I have updat...
101260,10540999,161085.0,2012-05-10T19:37:09Z,4,How to configure a Clojure library at runtime?,"<p>As a Clojure learning exercise, I am portin..."
467850,34126234,3769629.0,2015-12-07T04:02:48Z,0,Handling JSON file with python,<p>I'm developing a plugin for sublime text an...
277845,23721800,2474015.0,2014-05-18T12:19:40Z,0,Getting a MemoryError because list/array is to...,<h2>Problem</h2>\n\n<p>I have to download <cod...
96773,10126239,891306.0,2012-04-12T14:59:27Z,3,Reading output with telnetlib in realtime,<p>I'm using Python's telnetlib to telnet to s...

### Answers associated with questions sample

In [49]:
sampled_answers_df_stg = pd.merge(sampled_questions_df, answers_df, left_on='Id', right_on='ParentId', how='inner')

In [41]:
answers_df.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [61]:
sampled_answers_df = sampled_answers_df_stg.iloc[:,6:12]

In [64]:
sampled_answers_df.head()

,Id_y,OwnerUserId_y,CreationDate_y,ParentId,Score_y,Body_y
0,17532939,819544.0,2013-07-08T17:51:10Z,17532666,0,"<p>According to <a href=""https://groups.google..."
1,17534909,2497657.0,2013-07-08T19:56:01Z,17532666,0,<p>You are using basic authentication with use...
2,10541546,90801.0,2012-05-10T20:22:23Z,10540999,6,"<p><a href=""http://clojure.org/protocols"">Prot..."
3,34126295,5385159.0,2015-12-07T04:09:47Z,34126234,1,<p>Iterating through a JSON object using a for...
4,34126299,642070.0,2015-12-07T04:10:36Z,34126234,0,"<p>Try <code>print(type(datas))</code>, you'll..."

### Here I am processing the Tags down to just the sample questions

In [82]:
sample_tags_df_stg = pd.merge(tags_df, sampled_questions_df, left_on='Id', right_on='Id', how='inner')

In [83]:
sample_tags_df = sample_tags_stg.iloc[:,0:2]

In [84]:
sample_tags_df.head()

      Id        Tag
0  19339     python
1  19339       list
2  19339     matrix
3  19339      unzip
4  19339  transpose